# ============================================
# Copyright (c) 2026
# PRIZOLOV SPORTS AI v14.10 (STORE-FRONT OPTIMIZED)
# Author: Dm.Andreyanov
# Organization: Prizolov Market / Prizolov Lab
# ============================================

.git
.github
frontend/node_modules
frontend/.next
**/__pycache__
**/*.pyc
.env
backend/test_prizolov.db
parser/
*.md
